@model IEnumerable<BML_Play.Models.Filme>

@{
    ViewData["Title"] = "BML Play";
}

<h2 class="mb-4">Filmes em destaque</h2>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlCapa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlVideo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlCapa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@

<div class="movie-row">
    @foreach (var item in Model)
    {
        <div class="movie-card">
            <img src="@Html.DisplayFor(modelItem => item.UrlCapa)" class="movie-img" alt="@Html.DisplayFor(modelItem => item.Titulo)">

            <div class="movie-info">
                <h6>@Html.DisplayFor(modelItem => item.Titulo)</h6>
                <a asp-action="Details" asp-route-id="@item.Id"
                   class="btn btn-sm btn-danger">
                    Assistir
                </a>
            </div>
        </div>
    }
</div>

<div>
    <a asp-action="Create"
       class="btn btn-sm btn-danger">
        Criar um novo filme
    </a>
</div>
